:root {
  /* CASUAL */
  --white: #fff;
  --black: #000;
  --blue: #0f4fce;
  --lightgray: #ddd;

  /*BACKGROUNDS*/
  --bg-primary: #fafafa;
  --bg-secondary: #1c2333;
  --bg-light: #f8f8f8;
  --bg-orange: #f7c59f;

  /*FONT COLORS*/
  --text-primary: #1c2333;
  --text-secondary: #374151;
  --text-secondary-light: #6b7280;

  --green: rgb(33, 250, 131);
  --red: rgb(252, 86, 108);
  --dusky-green: rgb(6, 170, 94);
  --opac-white: rgba(255, 255, 255, 0.8);
  --form-txt: rgba(255, 255, 255, 0.5);
  --darky: #1d2b3a;
  --light-grey: rgb(105, 105, 105);
}
